/* 1. Header Styles */
/* 2. Navgation Styles */
/* 3. Heading Styles */
/* 4. Body Styles */
/* 5. Footer Styles */
/* 6. Media Queries */


@media (max-width: 576px){
    .prev button, .next button{
        width: calc(100% * 11/12);
    }
}

/* 1. Header Styles */
span>img {
    width: 15%
}


/* 2. Navgation Styles */
.nav-link {
    text-align: center;
}

/* 3. Heading Styles */


/* 4. Body Styles */
html {
    overflow-x: hidden;
}
html, body{
    margin: 0;
    padding: 0;
}

#toast1 {
    margin: 2% auto;
}
#toast2 {
    position: absolute;
    float: left;
}
.container {
    /* overflow:auto; */
    margin: 0 auto;
}

.slider-inner {
   /*  position: relative; */
   float: left;
}

.slider-inner article {
    display: none;
    margin: 1% 0 0 0%;
    padding: 5px;
    /* width: 45%; */
    float: left;
}
.slider-inner article.active {
    display: inline-block;
}
.next, .prev {
    float: left; 
    width: 50%;
    margin: 3% 0 0 25%;  
}
.next {
    margin-bottom: 5%;
}

#accordionstoresAccordion {
    margin-bottom: 2%;
}
.container-fluid>a {
    margin-left: 1%;
}
#storesAccordion {
    margin-top: 2%;
}
div[class="card mb-3 col-10"] {
    margin-top: 5%;
} 
.card {
    margin-top: 10%;
}
#behaveLC {
    width : 18%
}
#behaveLC2 {
    font-size: 1.15em; 
}


#toTop{ 
    margin-bottom: 2%;
}
.scrollToTop:hover{
    text-decoration:none;
}


footer a {
    text-decoration: none;
    color: black
}
/* 5. Footer Styles */
footer {
    padding: 20px;
    text-align: center;
}


/* 6. Media Queries */

@media only screen and (min-width: 1260px){

    /* 1. Header Styles */

    /* 2. Navgation Styles */

    /* 3. Heading Styles */

    /* 4. Body Styles */
    #toast1 {
        margin: 5% 0 -4% 49.75%;
    }
    .next, .prev {
        margin: 15 0 0 0;
        margin-top: 10%; 
    }
    .prev{
        margin-left: calc(100% * (1/12));
    }
    .next{
        margin-left: calc(100% * (10/12));
        margin-top: -3%
    }
    .prev button, .next button{
        width: calc(100% * (2/12));
    }

    .slider-inner article {
        margin: -15% 0 0 45%;
        width: calc(100% * (12/12));
        float: left;
    }
    .slider-inner article h3{
        margin: 0 auto;
    }
    .card {
        margin-top: 7%
    }
     /* 5. Footer Styles */

     footer {
        clear: both;
     }

}



   
    
    


   






