/* 1. Header Styles */
/* 2. Navigation Styles */
/* 3. Heading Styles */
/* 4. Body Styles */
/* 5. Footer Styles */
/* 6. Media Queries */

* {
    font-family: 'Roboto Mono', monospace;
}


/* 1. Header Styles */

/* 2. Navigation Styles */
#mobile-hamburger{
    position: absolute;
    left: 85%;
    top: 1%;
}
nav {
    display: none;
}
nav ul li{
    margin-left: -10%;
}
nav ul li:hover{
    background-color: grey;
}
li {
    text-align: center;
    list-style-type: none;
}
a{
    text-decoration: none;
}
li>a {
    color: black;
    font-size: 5vw;
}
#backToTop {
    font-size: 3.5vw;
    position: absolute;
    left: 70%;
}
/* 3. Heading Styles */
h2{
    margin-top:7%;
    font-size: 5vw;
}
h3{
    font-size: 5.5vw;
}
h4 img{
   width: 12% 
}
#gameMD h3 img{
    margin-top: -5%;
    width: 33% 
 }
 #gameCycleLogo {
     width: 10%;
 }
/* 4. Body Styles */

html, body{
    margin: 0;
    padding: 0;
}
.row:first-of-type {
    border: none
}
article p{
    background-color: seashell;
    box-shadow: slategrey 10px 2px 10px;
    padding: 5px;
}
div p:last-of-type{
    text-align: center;
}
iframe {
    margin-top: 5%
}
/* 5. Footer Styles */

footer{
    text-align: center;
    margin-top: 10%;
    background-color: red;
    padding: 20px
    
}
footer a {
    color: black
}
/* 6. Media Queries */

/* Desktop View */
@media screen and (min-width: 393px) { 
    header {
        background-color: red;
        padding: 5px
    }
    #mobile-hamburger {
        display: none;
    }
    nav{
        display: block;
    }
    nav ul li{
        display: inline-block;
        margin-left: 5%;
        
    }
    li>a {
        font-size: 1.75vw;
    }
    .desktop-wrapper{
        margin: 0% 1% 0 1%;
    }
    article p {
        width: 75%;
        text-indent: 1em;
        margin: 0 auto;
        font-size: 1.25vw
    }
    article p {
        margin-top: 2%;
    }

    h2 {
        font-size: 3vw;
    }
    h3 {
        font-size: 2vw;
    }
    
    h3 img{
        margin-top: 1%;
        width: 12.5%;
    }

    h4 {
        font-size: 3.5vw;
    }
    h4 img {
        width: 12.5%
    }
    #gameMD h3 img {
        width: 18%
    }
    .row {
        border-top: none;
    }
    #backToTop{
        display: none;
    }

    footer{  
        font-size: 1.5vw;
    }
}
